#dashboard {
  position: absolute;
  top: 360px;
  left: 0;
  right: 0;
  max-width: 1100px;
  margin: auto;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.dashboard__nav {
  background: linear-gradient(90deg, var(--mainColor), var(--secondaryColor));
  display: flex;
  align-items: center;
}
.dashboard__nav-fix {
  display: flex;
  align-items: center;
}
.dashboard__nav--btn {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 35px;
  font-size: 22px;
  cursor: pointer;
}

.dashboard__nav-active {
  background-color: white;
  color: var(--mainColor);
  font-weight: 600;
}

.dashboard__container {
  padding: 30px 40px;
  background-color: white;
  color: black;
}
.dashboard__container form h3 {
  font-size: 16px;
}
.dashboard__container form h4 {
  font-size: 14px;
}
.dashboard__container form {
  max-width: 100%;
}

.dashboard__container form h3,
.dashboard__container form h4 {
  color: var(--secondaryColor);
}

.form-flex {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}

.dashboard__container form input {
  border-top: 1px solid gray;
  border-right: none;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  font-size: 20px;
  padding: 10px 3px;
  color: var(--mainColor);
  font-weight: 500;
}
.dashboard__container form input:last-child {
  border-right: 1px solid gray;
}
.dashboard__container form select {
  border: 1px solid gray;
  padding: 9px 0px 8px 0;
  font-size: 21px;
}
.dashboard__container form select:last-child {
  margin-left: 3px;
}

.dashboard__dates {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.dashboard__dates label {
  color: var(--secondaryColor);
  font-weight: 500;
  position: absolute;
  margin-top: -14px;
  margin-left: 11px;
  background-color: white;
}
.dashboard__dates div:last-child {
  margin-left: 3px;
}

.dashboard__dates input {
  padding: 9px !important;
}
.passenger-fix {
  margin-top: 20px;
}

.passenger-flex,
.passenger-selection {
  display: flex;
}
.passenger-btn {
  font-size: 14px;
  padding: 9px 9px;
  color: var(--mainColor);
  border: 1px solid gray;
  cursor: pointer;
}
.passenger-quantity {
  font-size: 18px;
  font-weight: 800;
  padding: 4px 9px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: var(--mainColor);
}

.book--btn {
  float: right;
  margin: 30px 0;

  background-color: var(--secondaryColor);
  border: none;
  color: white;
  padding: 8px;
  cursor: pointer;
  font-family: var(--title);
  font-size: 18px;
}
.book--btn:hover {
  background-color: #862937;
}

.hide {
  display: none;
}

.flightsFrom,
.flightsTo {
  position: absolute;
  top: 167px;
  background-color: white;
  width: 252px;
  height: 50px;
}
.flightsFrom option{
  max-width: 250px;
}

.flightsFrom {
  left: 40px;
}
.flightsTo{
  left: 292px;
}

.country-data {
  max-width: 250px;
  color: var(--mainColor);
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid gray;
}